body {
    margin: 0;
    font-family: Merriweather, serif;
    text-align: center;
}
/* .main-div
{
   background-color: #e2ffff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

} */


.top-container {
    background-color: #e9feff;
    padding: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; */
    /* min-height: 20vh;
    min-width: 100vw; */
}
.cloud1 
{
    position: absolute;
    right: 140px;
    top: 30px;
    height: 48px;
    width: 150px;
}
h1 {
    color: #66BFBF;
    font-size: 5.5rem;

    font-family: Sacramento , cursive;
    margin: 50 auto 0 auto;
    text-align: center;
    /* margin-top: 80px; */
}
h2
{
        color: #66BFBF;
        font-family: Montserrat serif ;
        font-size: 2rem;
        padding-bottom: 10px;
        /* margin-top: 20px; */
}
.mountain
{
    height: 330px;
    width: 500px;
}
.cloud2
{
    height: 48px;
    width: 150px;
    position: absolute;
    left: 175px;
    top: 280px;
}
.profile {
   
}
.png
{
   height: 200px;
   width: 200px;
   /* position: absolute; */
   /* align-items: center; */
}
.intro
{
    /* width: 30%; */
    margin: auto;
}
hr{
    border: #ccefef dotted 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto ;
}
.skill-row
{
     width: 50%;
     margin: 100px auto 100px auto;
     text-align: left;
}
.code-image
{
    width: 50%;
    float: left;
}
h3{
    color: #66BFBF;
}
.keeper-image
{
    width:25%;
    float:right;
}

.btn
{
    background: #66BFBF;
    border-radius: 8px;
    font-family: Montserrat serif ;
    color: white;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.bottom-container
{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
a:hover
{
    color: #e5ffff;
}
a{
    color:#237272;
    margin: 10px 20px;
    text-decoration: none;
}
.copyright
{
    color: #e5ffff;
    font-size: 0.75rem;
    padding: 20px 0px;
}
